*{
  margin: 0;
  padding: 0;
}

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
  
}  
.navbar{
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  height: 82px;
  margin-top: 20px;
}  
.items{
  display: flex;
  gap: 48px;
  padding: auto;
  margin-top: 30px;
}    
.items li{
  list-style: none;


}
.items a{
  text-decoration: none;
  color: black;
}
.l1{
 color: black;
 font-weight: bold;
}
.hero{
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}
.hero-content{
   padding-top: 50px;
}
.hero-content h1{
  font-size: 65px;
  font-weight: bold;
}
.orange{
  color: #E95A08;
}
.heading-description{
  font-size: 22px;
  color: rgba(0, 0, 0, 50%);
}
.shop-section{
  margin-top: 140px;
  margin-right: 140px;
  margin-left: 140px;
}
.shop-heading{
  text-align: center;
  margin-bottom: 49px;
}
.shop-heading h1{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 16px;
}

.listing{
  height: 485px;
  width: 270px;
}
.pro-photo{
  height: 323px;
  width: 270px;
  margin-bottom: 18px;
}
.product-details{
  text-align: center;
}
.product-details p{
  font-size: 22px;
 
}
.price{
  font-size: 22px;
  font-weight: bold;
}
.btn{
  width: 270px;
  height: 50px;
  color: white;
  font-weight: 400;
  background-color: #E95A08;
  border: none;
  margin-top: 18px;
}
.first-row{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  
}

.shop-section{
  margin-bottom: 180px;
  margin-left: 140px;
  margin-right: 140px;
}
  
.row{
  margin-left: 140px;
  margin-right: 140px;
}



.seller-a{
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 200px;
}


.trust-img{
  position: relative;
}
.badge{
  position: absolute;
  top: -150px;
  left: 370px;
  
 
}


.seller-section{
  display: flex;
  gap: 60px;

}
.ss-content h2{
  font-size: 50px;
  font-weight: bold;
  padding-top: 20px;
}

.ss-content p{
  font-size: 22px;
  color: rgba(0, 0, 0, 50% );
  margin-bottom: 20px;
  
}
.ss-content{
padding-top: 50px;
}
.latest-deals{
  margin-left: 140px;
  margin-right: 140px;
}
.deals-head{
  text-align: center;
}
.deals-head h1{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 16px;
}
.deals-head p{
  font-size: 22px;
  color: rgba(0, 0, 0, 50%);
}
.deals-con{
  padding: 80px;
}
.f-row-imgs{
   width: 366px;
   height: 230px;
   background-image: url(assets/deal-bloom.png);
   background-size: contain;
   background-repeat: no-repeat;
   border-radius: 10px;
   
}
  


.f-row-imgs , .se-bimg p  {

  font-size: 20px;
  font-weight: bold;
  color: white;
   
}
.link{
  color: white;
  font-size: 16px;
  font-weight: 400;
 margin-left: auto;
 margin-right: auto;
}
.im1 , .se-bimg{
  text-align: center;
  position: relative;
  top: 55px;
}
.second-bimgs{
   width: 366px;
   height: 230px;
   background-image: url(assets/deal-ana.png);
   background-size: contain;
   background-repeat: no-repeat;
   border-radius: 10px;
}
.f-row-imgs{
  margin-bottom: 1px;
}
.big-fimg{
  width: 753px;
  height: 423px;
  background-image: url(assets/deal-zabo.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.deals-img{
  display: flex;
  gap: 28px;
  text-align: center;
}
.big-fcon p{
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.link2{
  color: white;
  font-size: 28px;
  font-weight: 400;
}
.big-fcon{
  position: relative;
  top: 150px;
}
.latest-deals{
  margin-bottom: 100px;
}

.news-bg{
  height: 533px;
  width: 1500px;
  background-image: url(assets/news-letter-bg.png);
  background-size: cover;
  
  
}
.news-head{
  text-align: center;
  position: relative;
  top: 250px;
}
.news-head h2{
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 26px;
}
.news-type{
  height: 50px;
  width: 644px;
  border: none;

}
.btn-news{
  height: 50px;
  width: 186px;
  background-color: #E95A08;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: none;

}
.f-part{
  height: 300px;
  margin-right: 140px;
  margin-left: 140px;
}
.ffr{
  width: 359px;
  height: 179px;
}
.ffr p{
  font-size: 22px;
  color: rgba(0, 0, 0, 50%);
}
.f-part{
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 50px;
}
.ffor{
  display: flex;
  gap: 20px;
}
.list li{
   list-style: none;
   color: rgba(0, 0, 0, 50% );
   margin-bottom: 30px;
}
@media (max-width:640px){

   html , body{
    overflow-x: hidden;
   }
   
    .navimg{
      height: 38px;
      width: 63px;
    }
    .navbar{
      margin: 20px;
      max-width: 80%;
      
      
    }
    .l1 , .l2 , .l3 ,.l4 {
      visibility: hidden;
      
    }
    .hero{
      display: flex;
      flex-direction: column-reverse;
      gap: 15px;
      max-width: 98%;
      margin: 5px;
      margin-bottom: 50px;

    }
    .hero img{
      max-width: 99%;
      height: 245px;
      
    }
    .heroimg{
      height: 245px;
    }
    .hero-content{
      max-width: 90%;
      margin: 10px;
      
      

    }
    .hero-content h1{
      font-size: 24px;
      margin-bottom: 10px;
    }
    .hero-content p{
      font-size: 14px;
    }
    .row{
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
      margin: 10px;
      max-width: 95%;
      margin-left: 10px;
      align-items: center;
    }
    .listing{
      height: 340px;
    }
    .shop-section{
      max-width: 95%;
      margin-bottom: 50px;
    }
    .listing , .btn{
      width: 171px;
      margin-top: 30px;
      
    }

    .pro-photo img{
      width: 171px; 
      height: 171px;
      
    }
    .pro-photo{
      margin-bottom: 15px;
      height: 171px;
    }
    .product-details{
      margin-top: 20px;
      
    }
    .product-details p{
      font-size: 16px;
      margin-top: px;
      text-align: center;
      
      
    }
    .price{
      margin-top: 1px;
      margin-bottom: 1px;
    }
    
    .shop-heading h1{
      font-size: 30px;
    }
    .shop-heading p{
      font-size: 14px;
    }
    .shop-section{
      margin: 10px;
    }
    .shop-heading{
      height: 171px;
      width: 360px;
      text-align: center;
      
    }

    .seller-a{
      max-width: 95%;
      margin: 10px;
      margin-top: 50px;
    }
    .seller-section{
      display: flex;
      flex-direction: column;
      gap: 10px;
      
    }
    
    .trust-img img{
      max-width: 358px;
      max-height: 396px;
      
    } 
    .trust-img{
      height: 396px;
    }
    .badge{
      visibility: hidden;
    }
    .ss-content h2{
      font-size: 24px;
      margin-bottom: 10px;
    }
    .ss-content p{
      font-size: 14px;
    }
    .latest-deals{
      max-width: 95%;
      margin: 10px;
      
    }
    
    .deals-con h1{
      font-size: 24px;
    }
    .deals-con p{
      font-size: 14px;
    }
    .deals-img{
      display: flex;
      flex-direction: column;
    }
    .big-fimg{
      width: 361px;
    }
    .big-fcon p , .link2{
      font-size: 20px;
    }
    .big-fcon{
      position: relative;
      top: 70px;
    }
    .deals-head{
      width: 95%;
      margin: 3px;
      height: 161px;
      margin-bottom: 100px;
    }
    .news-section{
      width: 98%;
      margin: 1px;
      
    }
    .news-bg{
      
      width: 100%;
      height: 275px;
    }
    .news-head h2{
      font-size: 20px;
    }
    .news-type{
      width: 70%;
    }
    .btn-news{
      width: 20%;
    }
    .news-head{
      position:relative;
      top: 60px;
    }
    .footer-part{
      max-width: 98%;
      
    }
    .f-part{
      max-width: 98%;
      margin: 10px;
    }
    .f-part{
      display: flex;
      flex-direction: column;
    }
  .ffr p{
    font-size: 14px;

   } }
  