*{
  margin: 0;
  padding: 0;
}

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
  
}  
.navbar{
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  height: 82px;
  margin-top: 20px;
}  
.items{
  display: flex;
  gap: 48px;
  padding: auto;
  margin-top: 30px;
}    
.items li{
  list-style: none;


}
.items a{
  text-decoration: none;
  color: black;
}
.l1{
 color: black;
 font-weight: bold;
}
.hero{
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}
.hero-content{
   padding-top: 50px;
}
.hero-content h1{
  font-size: 65px;
  font-weight: bold;
}
.orange{
  color: #E95A08;
}
.heading-description{
  font-size: 22px;
  color: rgba(0, 0, 0, 50%);
}
.shop-section{
  margin-top: 140px;
  margin-right: 140px;
  margin-left: 140px;
}
.shop-heading{
  text-align: center;
  margin-bottom: 49px;
}
.shop-heading h1{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 16px;
}

.listing{
  height: 485px;
  width: 270px;
}
.pro-photo{
  height: 323px;
  width: 270px;
  margin-bottom: 18px;
}
.product-details{
  text-align: center;
}
.product-details p{
  font-size: 22px;
 
}
.price{
  font-size: 22px;
  font-weight: bold;
}
.btn{
  width: 270px;
  height: 50px;
  color: white;
  font-weight: 400;
  background-color: #E95A08;
  border: none;
  margin-top: 18px;
}
.first-row{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
